<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/favicon.png" type="image/png">
        <title>Stock Market | Login</title>    
        <nav loadhtml="nav" class="navbar"></nav>
    </head>
    <body id="loginpage">
        <div class="container">
            <p>LOGIN</p>
            <form class="flex-box">
                <div class="flex-1">
                    <label for="nickname" class="uname">Nickname:</label>
                    <input type="text" id="nickName" placeholder="Your Nickname" class="input" required>
                </div>
                <div class="flex-2">
                    <label for="pw" class="pw">Password: </label>
                    <input type="password" id="userPw" placeholder="Your Password" class="input" required>
                </div>
                <div class="flex-4">
                    <button onclick="check()" id="formsubmit" type="submit" class="btn">Login</button>
                </div> 
                <div class="flex-3">
                    <a href="#" class="forgotten">Did you forget your password?</a>
                </div>  
            </form>
        </div>     
        <script src="../assets/js/user.js"></script>
        <script src="../assets/js/module.js"></script>
    </body>
</html>