<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
        <link rel="shortcut icon" href="../assets/imgs/favicon.png" type="image/png">
        <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="../assets/js/my_transactions.js"></script>
        
        <title>Stock Market | My Transactions</title>    
        <nav loadhtml="navloged" class="navbar"></nav>
    </head>
    <body id="loginpage">
        <div class="container">
            <p>My Transactions</p>
            <div id="transactions_text"></div>
        </div>
        <script src="../assets/js/module.js"></script>
    </body>
</html>